@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');
 body {
  margin: 0;
}

/* SignIn.css */

.signin-container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.signin-left {
  flex: 1;
  padding: 40px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.signin-left h2 {
  font-family: "Oxygen", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #3D3D3D;
  margin-bottom: 20px;
}

.signin-left p {
  font-family: "Oxygen", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 20px;
  color: #949494;
}

.signin-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #3D3D3D;
  font-family: "Oxygen", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.form-group input {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.signin-button {
  margin-top: 30px;
  background-color: #FA8232;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 16px;
}

.signin-button:disabled {
  background-color: #ccc;
}

.error-message {
  color: red;
  margin-top: 10px;
}

.signin-with-google {
  text-align: center;
  margin-top: 20px;
}

.google-signin-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.google-signin-button img {
  margin-right: 10px;
}

.signin-right {
  
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin-left: 20px;
}
.center{
  margin-top :50px;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: space-between;
  
}