

.back-button {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #ECECEC;
    color: #1E1E1E;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 15px;
  }
  
.back-button:hover {
    background-color: #FA8232;
  }
  
  .back-icon {
    width: 24px; 
    height: 24px;
   
  }